@import './src/assets/colours';
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.weather-results-container{
  display: block;
  .weather-day-forcast-card{
    margin: auto;
  }
  .weather-week-forcast-card{
    //flex-grow: 2;
  }
}

@media only screen and (min-width: 1200px) {
  .weather-results-container{
    display: flex;
    .weather-day-forcast-card{
      flex-grow: 1;
    }
    .weather-week-forcast-card{
      flex-grow: 3;
    }
  }
}

::ng-deep .mat-form-field{
  width: 100%;
  .mat-form-field-flex {
    border-radius: 4px;
    border: .5px $secondary solid;
    box-shadow: 0 3px .4em $secondary;

    input{
      padding-left: 1rem;
    }
  }
}

