.weather-forecast{
  text-align: center;

  table{
    width: 100%;
    .normal-view-th{
      display: table-row;
    }
    .small-view-th{
      display:none
    }
  }

  @media only screen and (max-width: 600px) {
    table {
      .small-view-th{
        display: table-row;
      }
      .normal-view-th{
        display:none
      }
    }
  }

}
