.weather-card-container{
    display: flex;
    padding: 0 3.25rem;

    .weather-component,
    .weather-summary{
        flex-grow: 1;
        min-width: 40%;
        // border: 1px solid black;
        padding: 3.25rem;
    }

    app-weather-app{
        align-items: center;
        justify-content: center;
        display: flex;
    }
}

