<div class="weather-card item1">
    <div class="section">
        <mat-icon>location_on</mat-icon><span>LONDON</span>
    </div>
    <div class="weather-card item2">
        HIGH: 18
        <div class="weather-card item3">
            LOW: 13
            <div class="weather-card item4">
                <div class="info-container">
                    <span class="temp">15°C</span>
                    <span class="tag">SUNNY</span>
                    <div class="info">
                        <span>Wind: 12mph</span>
                        <span>Humidity: 92%</span>
                        <span>Precipitation: 11%</span>
                    </div>
                </div>
                <div class="weather-icon">
                    <img src="../../../../assets/custom-weather-icons/sunny.svg" 
                    alt="weather icon">
                </div>
            </div>
        </div>
    </div>
</div>