@import './src/assets/colours';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&family=Roboto+Slab&display=swap');
.weather-card{
    border-radius: 12px;
    font-family: 'Roboto Mono';
    font-weight: 400;
    font-size: 16px;
    color: white;
    background: rgba(255,109,106, 0.4);
    text-indent: 40px;
    line-height: 2.5;
}

.section{
    display: flex;
    align-items: center;
}

.item1{
    text-indent: 10px;
    width: 350px;
    // float: right;

    mat-icon{
        padding-right: 5px;
    }
}

.item4{
    display: flex;
    .weather-icon{
        flex-grow: 1;
        min-width: 50%;

        img{
            height: 95px;
            width: 95px;
            float: left;
            height: 100%;
            vertical-align: middle;
        }
    }
    .info-container{
        flex-grow: 1;
        padding: 2.25rem 0;
        .temp{
            font-size: 24px;
        }
        .tag{
            line-height: 0.6;
            font-size: 35px;
        }
        .info{
            font-family: 'Roboto Slab';
            padding: 1.75rem 0;
            font-weight: 400;
            font-size: 14px;
        }
    }
    line-height: 1.2;
    span{
        display: block;
    }
}