<div class="weather-card item1">
    <div class="section">
        <mat-icon>location_on</mat-icon><span>{{weatherData?.name.toUpperCase() || "LONDON"}}</span>
    </div>
    <div class="weather-card item2">
        HIGH: {{weatherData?.main.temp_max || 15}}°C
        <div class="weather-card item3">
            LOW: {{weatherData?.main.temp_min || 13}}°C
            <div class="weather-card item4">
                <div class="info-container">
                    <span class="temp">{{weatherData?.main.temp || 15}}°C</span>
                    <span class="tag">{{weatherData?.weather[0].main.toUpperCase() || "SUNNY"}}</span>
                    <div class="info">
                        <span>Wind: {{weatherData?.wind.speed || 12}}mph</span>
                        <span>Humidity: {{weatherData?.main.humidity || 92}}%</span>
                        <span>Precipitation: 11%</span>
                    </div>
                </div>
                <div class="weather-icon">
                    <img [src]="getWeatherIcon(weatherData?.weather[0].icon)" 
                    alt="weather icon">
                </div>
            </div>
        </div>
    </div>
</div>