@import './src/assets/colours';
div{
  min-height: 100px;
  min-width: 400px;
  // background-color: white;
  display: flex;
  border: #F1F1F1 1px solid;
  padding: 4rem 0;
  overflow: hidden;
  overflow-wrap: break-word;
}

