@import './src/assets/colours';
div{
  margin: auto auto 1.25rem;
  //background-color: white;
  min-height: 100px;
  width: 90%;
  min-width: 400px;
  border-bottom: .5px solid $primary-light;
  //border-radius: 4px;
  padding: 4rem 0.725rem 4rem;
  overflow: hidden;
  overflow-wrap: break-word;
}

