<app-small-card class="weather-forecast">
  <div>
    <table>
      <tr class="normal-view-th">
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
      <tr class="small-view-th">
        <th>Mon</th>
        <th>Tue</th>
        <th>Wed</th>
        <th>Thur</th>
        <th>Fri</th>
        <th>Sat</th>
        <th>Sun</th>
      </tr>
      <tr>
        <td>Sun</td>
        <td>Cloud</td>
        <td>Cloud</td>
        <td>Rain</td>
        <td>Rain</td>
        <td>Rain</td>
        <td>Sun</td>
      </tr>
      <tr>
        <td>14°</td>
        <td>14°</td>
        <td>14°</td>
        <td>14°</td>
        <td>14°</td>
        <td>14°</td>
        <td>14°</td>
      </tr>
      <tr>
        <td>3°</td>
        <td>3°</td>
        <td>3°</td>
        <td>3°</td>
        <td>3°</td>
        <td>3°</td>
        <td>3°</td>
      </tr>

    </table>
  </div>
</app-small-card>
