@import './src/assets/colours';

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&family=Roboto+Slab&display=swap');

.portfolio{
  min-height: 100px;
  width: 100%;
  min-width: 400px;
  border: #F1F1F1 1px solid;
  padding: 7rem 0;
  overflow: hidden;
  overflow-wrap: break-word;

  background-color: #F8F8F8;

  &-header{
      display: block;
      font-family: 'Roboto Mono';
      font-size: 32px;
      font-weight: 500;
      letter-spacing: 12px;
      text-align: center;
      padding: 1.25rem;
  }

  &-summary{
    color: #565656;
    display: block;
    font-family: 'Roboto Slab';
    font-size: 14px;
    font-weight: 400;
    padding: 1rem 5rem;
    text-align: center;
  }
}
