<div class="portfolio">
    <span class="portfolio-header">PORTFOLIO</span>

    <span class="portfolio-summary">On my portflio site, i have created and designed the layout of this page and each component inside. These components attempt to display my range in technical solutions and the UX most appropriate for each area. This random display of interactive components, charts and animations demonstrate a small part of my technical ability through the Angular framework and free online APIs.</span>
</div>