<div class="about-container">
    <div class="breif">
        <span class="breif-header">ABOUT ME</span>
        <span class="breif-desc">I’m a web developer with 3 years of professional experience, working for a fintech company that makes use of large data sets and tranforms them into interactive and efficiently displayed web applications. I have breif experience in mobile application development and continue to improve my API development knowledge as well.</span> 

        <span class="breif-desc">Having a computer sceince degree, it really is just a foundational knowledge compared to the big world of tech. My experience is in angular and all components related to web application development, including testing. Exploring and researching other web tech such as micro-frontends, Vue and soon to learn the basics of React.</span>
    </div>

</div>

