<!--The content below is only a placeholder and can be replaced.-->
<div #banner class="banner">
  <div class="banner-image">
  <a (click)="scrollToFirstCard()" class="down-icon pointer">
    <mat-icon>arrow_circle_down</mat-icon>
  </a>
</div>
<app-nav-bar [isBannerAtTop]="isBannerAtTop"></app-nav-bar>
<app-large-card>
  <app-summary-component></app-summary-component>
</app-large-card>
<app-large-card>
  <app-weather></app-weather>
</app-large-card>
<app-large-card>CARD 2</app-large-card>
<app-large-card>CARD 3</app-large-card>
<router-outlet></router-outlet>
