@import './src/assets/colours';

.banner {
  height: 100%;
  background-image: url("../assets/pexels-pixabay-219692.jpg");
  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
    
.banner-overlay {
    height: 100%;
    background-color: #B0B0D1;
    opacity: 0.2;
  }

  @media screen and (max-width: 860px) {
    .banner-overlay {
      height: 100%;
      background-color: black;
      // opacity: 0.2;
    }
  }
  .down-icon{
    position: absolute;
    bottom: 10vh;
    left: 50%;
    mat-icon{
      font-size: 2.5em;
      color: white;
    }
  }
}

.banner-header-container{
      z-index: 3;
      position: absolute;
      top: 14%;
      width: 100%;
      text-align: center;
      color: white;

      .text-wrapper{
        display: inline-block;
        min-width: 200px;
      }
      span{
        display: block;
        padding: 5px;
        font-size: 32px;
        font-weight: 400;
        letter-spacing: 6px;
      }
      .pre-header{
        text-align: start;
      }
      .main-header{
        line-height: 0.9;
        .main-header-text{
          font-size: 64px;
          text-align: center;
          font-weight: 700;
        }
      }
      .post-header{
        text-align: end;
        // font-size: 36px;
      }
    }

app-nav-bar
{
   position: fixed;
   top: 0px;
   width: 100%;
}

.pointer{ 
  cursor: pointer; 
}

body{
  overflow-x: hidden;
}

.mobile-warning{
  display: none;
}

@media screen and (max-width: 860px) {
  .page-content{
    display: none;
  }

  .mobile-warning{
    display: block;
    color: white;
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100%;
    width: 100%;
    background-color: #252525;
    flex-direction: column; 

    img{
      margin: 2.25rem;
      display: block;
      height: 100px;
      color: white;
    }
    span{
      margin: 2.25rem;
      display: block;
    }
  }
}