<div class="description-container">
    <span class="header">Live weather search</span>
    <span class="summary">
        This interactive weather search component allows for real time weather reporting across the globe. Using the free data sources provided by RapidApi, this component demostrates the use of angular autofil component.
    </span>

    <div class="search-container">
        <span>Perform a search by city to update the weather card.</span>
        <form class="form-inline md-form form-sm active-accent" (ngSubmit)="onSubmit()" [formGroup]="citySearchForm">
            <input class="form-control form-control-sm mr-3 w-75" type="text" 
            placeholder="city name..." aria-label="Search"
            formControlName="city"
              mdbInput>
              <button type="submit">
                <mat-icon>search</mat-icon>
              </button>
        </form>
    </div>
</div>