@import './src/assets/colours';
.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.weather-day-container{
  display: flex;
  color: $primary-light;

  &-left,
  &-right{
    padding: 1rem;
    flex-basis: 50%;
  }

  .weather-city{
    font-size: 20px;
    font-weight: 500;
  }

  .link-to-map{
    text-align: end;
    a > mat-icon{
      margin-left: -4px;
    }
  }

  .weather-info{
    margin-top: 35%;
    display: block;
    text-align: end;
    font-weight: 200;

    fa{
      font-size: 11px;
    }
  }

  img.weather-img,
  .weather-temp{
    align-self: center;

    span{
      font-size: 38px;
    }
  }

  .weather-img-container{
    display: flex;
    padding-top: 1.25rem;
  }
}

.weather-day-forcast-card{
  div{
    max-width: 400px;
  }
}

@media only screen and (min-width: 1200px) {
  .weather-results-container{
    display: flex;
    .weather-day-forcast-card{
      flex-grow: 1;
    }
    .weather-week-forcast-card{
      flex-grow: 2;
    }
  }
}
