<app-small-card class="weather-day-forcast-card" customSize="400px">
  <mat-progress-bar mode="buffer" *ngIf="!cityWeather"></mat-progress-bar>
  <div class="weather-day-container" *ngIf="cityWeather">
    <div class="weather-day-container-left">
      <div>
        <span class="weather-city">{{cityWeather.name}}</span><br>
        <span>{{getCurrentCityDateTime()}}</span><br>
        <span class="weather-desc">{{cityWeather.weather[0].main}}</span>
      </div>
      <div class="weather-img-container">
        <div>
          <img class="weather-img" *ngIf="weatherIconImgSrc"
               [src]="weatherIconImgSrc" alt="Weather image" [title]="cityWeather.weather[0].description"></div>
        <div class="weather-temp"><span>{{cityWeather.main.temp}}°C</span></div>
      </div>
    </div>
    <div class="weather-day-container-right">
      <div class="link-to-map"><a class="component-link" href="#">show on map<mat-icon>arrow_forward</mat-icon></a></div>
      <div class="weather-info">
        Precipitation: 11%<br>
        Humidity: {{cityWeather.main.humidity}}%<br>
        Wind: {{cityWeather.wind.speed}} mph<br>
        <span style="color: red">{{cityWeather.main.temp_max}}°c<mat-icon style="color: red">arrow_drop_up</mat-icon></span><br>
        <span style="color: deepskyblue">{{cityWeather.main.temp_min}}°c<mat-icon style="color: deepskyblue">arrow_drop_down</mat-icon></span>
      </div>
    </div>
  </div>
</app-small-card>
