$primary: #212121;
$primary-light: #484848;
$primary-dark: #000000;

$secondary: #ab47bc;
$secondary-light: #df78ef;
$secondary-dark: #790e8b;

$primary-contrast-text: #ffffff;

$page-background: #f4f7f6;

$accent: #FF6D6A;