.weather-forecast{
  text-align: center;

  table{
    width: 100%;
    .normal-view-th{
      visibility: visible;
    }
    .small-view-th{
      visibility: hidden;
    }
  }

  @media only screen and (max-width: 600px) {
    table {
      .normal-view-th{
        visibility: hidden;
      }
      .small-view-th{
        visibility: visible;
      }
    }
  }


}
