// @import "assets/colours";
@import './assets/colours';
@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html{
  background-color: $page-background;
}


html, body { height: 100%;  font-family: 'Raleway', sans-serif;}
body { margin: 0; font-family: Raleway, sans-serif; }

.component-link{
  text-decoration: underline;
  color: #03d3fc;
  cursor: pointer;

  mat-icon{
    vertical-align: sub;
    font-size: 16px;
  }
}
