@import "assets/colours";
@import './src/assets/colours';
/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
html{
  background-color: $page-background;
  //background: white;
  //background: rgb(33,33,33);
  //background: linear-gradient(180deg, rgba(33,33,33,1) 13%, rgba(72,72,72,1) 52%, rgba(154,154,154,1) 91%);
}


html, body { height: 100%;  font-family: 'Raleway', sans-serif;}
body { margin: 0; font-family: Raleway, sans-serif; }
