<nav class="navbar" color="primary">
  <div>
    <div class="navbar-container">
      <ul class="nav-link-container" routerLinkActive="active">
        <li>
<!--          <div class="logo-icon-container">-->
            <img class="logo-icon" alt="Abbie in True Form" src="../../../assets/avatar.ico">
<!--          </div>-->
        </li>
        <li><a class="nav-link-item" routerLink="home">Home</a></li>
        <li><a class="nav-link-item" routerLink="about">About</a></li>
        <li><a class="nav-link-item" routerLink="courses">Courses</a></li>
      </ul>
    </div>
  </div>
</nav>
