@import './src/assets/colours';
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap');

nav{
  box-shadow: 0px -1px 5px 4px rgba(black, 0.25);
}

.active{
  border-bottom: $accent 3px solid;
}

.hideBanner{
  display: none;
}
.blockBanner {
  background: white;
}
.navbar{
  width: 100%;

  .logo-icon{
    padding: .25rem .25rem 0;
  }

  &-container{
    width: 100%;
    display: inline-block;
    vertical-align: bottom;
  }

  .nav-link{
    &-container{
      display: flex;
      justify-content: flex-start;
      list-style: none;
      margin: 0;
      padding: 0;
      float:right;  
    }

    &-item{
      color: $accent;
      text-decoration: none;
      text-align: center;
      padding: 1rem 3rem;
      display: block;
      align-items: center;

      font-family: 'Source Code Pro';
      font-weight: 600;
      font-size: 16px;
    
      // &:hover{
      //   background-color: #1a1a1a;
      // }
    }
  }
}
